.ui-content .content-container {
  margin-top: 0 !important;
}

.advantages-card {
  border-radius: 1.25rem;
  width: 100%;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #FFFFFF;
  overflow: hidden;
  cursor: pointer;
  background-repeat: no-repeat;
}

.advantages-card,
.advantages-card * {
  -webkit-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.advantages-card.adv-card-1 {
  padding: 1.875rem 0 0 1.875rem;
  background-color: #055687;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-image: url("./../img/svg/Persona-1.svg");
  background-position: 100% 100%;
}

.advantages-card.adv-card-1 .advantages-card__text {
  max-width: 60%;
}

.advantages-card.adv-card-1.reorder {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-position: -50% 230%;
}

.advantages-card.adv-card-1.reorder .advantages-card__text {
  max-width: 70%;
}

.advantages-card.adv-card-2 {
  padding: 2rem 2rem 0 2rem;
  background-color: #E3E3E3;
  color: #041E2F;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("./../img/svg/Persona-2.svg");
  background-position: 50% 100%;
}

.advantages-card.adv-card-2 .advantages-card__text {
  width: 100%;
}

.advantages-card.adv-card-2.reorder {
  background-position: 50% 150%;
}

.advantages-card.adv-card-2.reorder .advantages-card__text {
  max-width: 100%;
}

.advantages-card.adv-card-3 {
  padding: 2rem 2rem 0 2rem;
  background-color: #055687;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-image: url("./../img/svg/Persona-3.svg");
  background-position: 100% 100%;
}

.advantages-card.adv-card-3 .advantages-card__text {
  max-width: 60%;
}

.advantages-card.adv-card-3.reorder {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-position: -340% 200%;
}

.advantages-card.adv-card-3.reorder .advantages-card__text {
  max-width: 70%;
}

.advantages-card.adv-card-4 {
  padding: 2rem 2rem 0 2rem;
  background-color: #063958;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-image: url("./../img/svg/Persona-4.svg");
  background-position: 100% 100%;
}

.advantages-card.adv-card-4 .advantages-card__text {
  max-width: 60%;
}

.advantages-card.adv-card-4.reorder {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-position: -20% 320%;
}

.advantages-card.adv-card-4.reorder .advantages-card__text {
  max-width: 70%;
}

.advantages-card.adv-card-5 {
  padding: 2rem 2rem 0 2rem;
  background-color: rgba(201, 235, 255, 0.6);
  color: #055687;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-image: url("./../img/svg/Persona-5.svg");
  background-position: 100% 100%;
}

.advantages-card.adv-card-5 .advantages-card__text {
  max-width: 60%;
}

.advantages-card.adv-card-5.reorder {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-position: -20% 320%;
}

.advantages-card.adv-card-5.reorder .advantages-card__text {
  max-width: 70%;
}

.breadcrumbs {
  margin-bottom: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breadcrumbs a {
  color: #055687;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 400;
}

.breadcrumbs a:not(:last-child)::after {
  content: " /";
}

.breadcrumbs a::after {
  margin-right: 4px;
}

.breadcrumbs a:last-child {
  color: #737373;
}

.breadcrumbs .news-breadcrumbs {
  max-width: 290px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.user-header {
  background-color: rgba(201, 235, 255, 0.6);
  border-bottom: 1px solid rgba(5, 86, 135, 0.2);
  padding: 1rem 0;
  color: #055687;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-header span {
  cursor: pointer;
}

.btn-approved {
  padding: 1rem 2rem;
  font-family: "Gilroy-Regular", "Arial";
  -webkit-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  cursor: pointer;
  text-align: center;
}

.btn-approved.btn-approved-checked {
  background-color: #E3E3E3;
  color: #055687;
}

.btn-approved-checked::before {
  content: "\f272";
  font-family: "bootstrap-icons";
  display: inline-block;
  margin-right: 0.25rem;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-rating {
  background: rgba(201, 235, 255, 0.6);
  padding: 0.625rem 1rem;
  font-family: "Gilroy-Bold", "Arial", sans-serif;
  -webkit-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  color: #055687;
  cursor: pointer;
  border-radius: 20px;
}

.btn-rating-checked {
  background-color: rgba(6, 57, 88, 0.2);
}

.btn-like::after,
.btn-like-checked::after,
.btn-dislike::after,
.btn-dislike-checked::after {
  font-family: "bootstrap-icons";
  display: inline-block;
  margin-right: 0.25rem;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  font-weight: 700;
}

.btn-like::after {
  content: "\f407";
}

.btn-dislike::after {
  content: "\f405";
}

.btn-like-checked::after {
  content: "\f406";
}

.btn-dislike-checked::after {
  content: "\f404";
}

.btn-tr {
  font-size: 18px;
  line-height: 22px;
  padding: 1rem 2.5rem;
  border-radius: 30px;
  border: 2px solid #055687;
  color: #055687;
  -webkit-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  font-weight: 600;
  font-family: "Gilroy-Regular", "Arial";
  background: transparent;
}

.btn-close {
  opacity: 1;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23055687'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.btn-close:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search-header.modal-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: none;
}

.modal-content {
  width: 100%;
  color: var(--bs-modal-color);
  background-color: #FEFEFE;
  border: none;
  font-family: "Gilroy-Regular", "Arial";
}

.btn-adv-enter {
  color: #041E2F;
  background-color: rgba(227, 227, 227, 0.4);
  -webkit-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.btn-adv-enter :nth-child(1) {
  font-size: 90px;
  line-height: 110px;
  color: #055687;
}

.explanation-item {
  -webkit-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  cursor: pointer;
}

.text-clamp-6 {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.modal#enterForm .modal-header,
.modal#modalSuccess .modal-header {
  border-bottom: none;
}

.modal#enterForm .modal-body,
.modal#modalSuccess .modal-body {
  padding-bottom: 1.875rem;
}

.modal#enterForm .modal-body input:not([type=checkbox]),
.modal#modalSuccess .modal-body input:not([type=checkbox]) {
  width: 100%;
  padding: 0.8125rem 0.625rem;
  color: #041E2F;
  border: 1px solid #BABABA;
  border-radius: 5px;
  margin-top: 0.375rem;
}

.modal#enterForm .modal-body input::-webkit-outer-spin-button,
.modal#enterForm .modal-body input::-webkit-inner-spin-button,
.modal#modalSuccess .modal-body input::-webkit-outer-spin-button,
.modal#modalSuccess .modal-body input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.modal#enterForm .modal-body input[type=number],
.modal#modalSuccess .modal-body input[type=number] {
  -moz-appearance: textfield;
}

.modal#enterForm .modal-body ::-webkit-input-placeholder, .modal#modalSuccess .modal-body ::-webkit-input-placeholder {
  color: #BABABA;
}

.modal#enterForm .modal-body ::-moz-placeholder, .modal#modalSuccess .modal-body ::-moz-placeholder {
  color: #BABABA;
}

.modal#enterForm .modal-body :-ms-input-placeholder, .modal#modalSuccess .modal-body :-ms-input-placeholder {
  color: #BABABA;
}

.modal#enterForm .modal-body ::-ms-input-placeholder, .modal#modalSuccess .modal-body ::-ms-input-placeholder {
  color: #BABABA;
}

.modal#enterForm .modal-body ::placeholder,
.modal#modalSuccess .modal-body ::placeholder {
  color: #BABABA;
}

.modal.modal-search {
  --bs-modal-width: 100%;
}

@media (max-width: 1344px) {
  .btn-tr {
    font-size: calc(15px + 3 * ((100vw - 320px) / 1024));
  }

  .btn-tr {
    line-height: calc(18px + 4 * ((100vw - 320px) / 1024));
  }
}

@media screen and (max-width: 1200px) {
  .advantages-card.adv-card-1.reorder {
    background-position: -80% 230%;
  }

  .advantages-card.adv-card-3.reorder {
    background-position: -120% 350%;
  }

  .advantages-card.adv-card-3.reorder .advantages-card__text {
    max-width: 100%;
  }

  .advantages-card.adv-card-5 {
    background-position: 100% 140%;
  }

  .advantages-card.adv-card-5.reorder {
    background-position: -20% 360%;
  }
}

@media screen and (max-width: 992px) {
  .advantages-card.adv-card-1.reorder {
    background-position: -10% 170%;
  }

  .advantages-card.adv-card-2 {
    background-position: 100% 100%;
  }

  .advantages-card.adv-card-2.reorder {
    background-position: 0% 140%;
  }

  .advantages-card.adv-card-3.reorder {
    background-position: 0% 210%;
  }

  .advantages-card.adv-card-4.reorder {
    background-position: 0% 320%;
  }

  .advantages-card.adv-card-5.reorder {
    background-position: 0% 250%;
  }
}

@media screen and (max-width: 910px) {
  .user-header {
    display: none;
  }

  .btn-tr {
    padding: 0.75rem 2.5rem;
  }

  .search-header.modal-header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .search-header.modal-header .btn-close {
    margin-top: 1rem;
  }

  .text-clamp-6 {
    -webkit-line-clamp: 4;
  }
}

@media screen and (max-width: 650px) {
  .advantages-card {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 590px) {
  .advantages-card.adv-card-1 {
    background-position: 100% 210%;
  }

  .advantages-card.adv-card-1.reorder {
    background-position: -10% 380%;
  }

  .advantages-card.adv-card-1.reorder .advantages-card__text {
    max-width: 90%;
  }

  .advantages-card.adv-card-3.reorder {
    background-position: 30% 310%;
  }

  .advantages-card.adv-card-4.reorder {
    background-position: -20% 360%;
  }

  .advantages-card.adv-card-4.reorder .advantages-card__text {
    max-width: 80%;
  }

  .advantages-card.adv-card-5 .advantages-card__text {
    max-width: 100%;
  }

  .advantages-card.adv-card-5.reorder {
    background-position: 0% 340%;
  }

  .advantages-card.adv-card-5.reorder .advantages-card__text {
    max-width: 100%;
  }
}

@media screen and (max-width: 505px) {
  .advantages-card.adv-card-4.reorder {
    background-position: -30% 360%;
  }
}

@media screen and (max-width: 460px) {
  .advantages-card.adv-card-4.reorder {
    background-position: -60% 360%;
  }
}

@media screen and (max-width: 380px) {
  .advantages-card.adv-card-4.reorder {
    background-position: -100% 360%;
  }
}

@media (hover: hover) and (pointer: fine) {
  .btn-approved:not(.btn-approved-checked):hover {
    background-color: #055687;
    color: #FEFEFE;
  }

  .btn-rating:not(.btn-rating-checked):hover {
    background-color: rgba(6, 57, 88, 0.2);
  }

  .btn-tr:hover {
    background-color: #055687;
    color: #FEFEFE;
  }

  .btn-adv-enter:hover {
    background-color: #055687;
  }

  .btn-adv-enter:hover span {
    color: #FEFEFE;
  }

  .explanation-item:hover {
    background-color: rgba(5, 86, 135, 0.2);
  }
}