.documents-block{
     display: flex;
     flex-direction: column;
}

.documents-item{
     display: flex;
     flex-direction: row;
     align-items: start;
     justify-content: flex-start;
     color: $color-black;
     cursor: pointer;
     padding: 1rem .625rem;
     border-radius: .625rem;
     transform: $transition-main-3;
     @media #{$mouse-device} {
          &:hover{
               background-color: $color-background-gray-tr-4;
          }
     }
     margin: 10px 0;
     &:first-child{
          margin-top: 0;
     }
     p{
          margin-bottom: 0; 
          @include adaptiv-value("font-size", 18, 15, 1);
          @include adaptiv-value("line-height", 22, 18, 1);
          @include adaptiv-value("margin-left", 26, 13, 1);
     }
     .bi{
          @include adaptiv-value("font-size", 40, 24, 1);
     }
}