.dropdown-toggle::after{
}
.dropdown:hover > .dropdown-menu {
     transition: $transition-main-3;
     display: flex;
     flex-direction: column;
     font-family: $font-family-light;
     font-weight: 600;
}
.dropdown:hover{
     *{
          @extend .color-white-text;
     }
     background: $color-blue-accent;
     
}
.dropdown {
     border-radius: $border-top-25;
     &:hover{
          .dropdown-chevron{
               .bi{
                    transform: rotate(180deg) !important;
               }
          }
     }
}
.dropdown-chevron{
     display: flex;
     justify-content: center;
     align-items: center;
     transition: $transition-main-3;
     .bi{
          transition: $transition-main-3;
     }
}


.dropdown > .dropdown-toggle:active {
     pointer-events: none;
}

.dropdown-btn{
     background: transparent;
     border-radius: $border-top-25;
     padding: .625rem 1rem;
     text-align: left;
     @media #{$mouse-device} {
          &:hover{
               background: $color-blue-accent;
          }
     }
     .bi{
          margin-left: .75rem;
          font-weight: 600;
          @extend .color-blue-accent;
     }
     span{
          @extend .color-blue-accent;
          font-family: $font-family-light;
          font-weight: 600;
     }
}
.dropdown-menu{
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
     border-radius: 0px 30px 30px 30px;
     background: $color-blue-accent;
     width: 21.25rem;
     border: none;
     padding: 0;
     // padding: 10px 0;
     transition: $transition-main-3;
     a{
          // margin: .875rem 0;
          padding: .75rem 1rem .75rem 1.375rem;
          &:nth-child(1){
               // border-radius: 0 18px 0 0;
               border-radius: 0 30px 0 0;
          }
          &:hover{
               @media #{$mouse-device}{
                    background-color: $color-blue-black;
               }
          }
          &:last-child{
               border-radius: 0 0 30px 30px;
          }
     }
}
