@import "./veriables/__variables.scss";
@import "./functional/_mixins";
@import './functional/burger.scss';

.burger {
     width: 50px;
     height: 50px;
     border-radius: 4px;
     z-index: 10;
     display: none;
     place-items: center;
     span {
          @include burger(30px, 2px, 6px, $color-blue-accent);
     }
     @media #{$ui-tablet} {
          display: grid;
     }
     &.show {
     span {
     @include burger-to-cross;
          &:before, &:after {
                    background-color: $color-blue-accent;
               }
          }
     }
     &:hover {
          cursor: pointer;
     }
}

nav.mobile-menu {
     background-color: $color-white-main;
     position: fixed;
     z-index: $layer-ui-basic;
     top: 0;
     right: 0;
     margin-top: 75px;
     height: 100%;
     max-width: 19.625rem;
     width: 100%;
     padding: 2.25rem .75rem 2.25rem 1.125rem;
     overflow: hidden;
     @include transform(translateX(100%));
     @include transition(transform .55s cubic-bezier(0.785, 0.135, 0.15, 0.86));
     &.show {
          @media #{$ui-tablet} {
               @include transform(translateX(0px));
          }
          ul.mobile-list {
               li {
                    @include transform(translateX(0px));
                    opacity: 1;
                    @for $i from 1 to 10 { 
                         &:nth-child(#{$i}) {
                                   transition-delay: $i * 0.15s;
                              }
                         }
               }
               .collapse{
               }
               .collapse.show{
                    display: flex;
                    flex-direction: column;
                    a{
                         color: $color-blue-dark;
                         white-space: nowrap;
                         .bi{
                              font-size: 1rem;
                              color: $color-blue-dark;
                         }
                    }
               }
          }
          hr{
               border-top: 1px solid $color-blue-accent;
          }
     }

     ul.mobile-list {
          list-style-type: none;
          padding-left: 0;
          li {
               @include transform(translateX(40px));
               opacity: 0;
               @include transition(all .3s ease);
               margin-bottom: 1.5rem;
               &:last-of-type {
                    // margin-bottom: 0px;
               }
               .bi{
                    color: $color-blue-accent;
                    transition: $transition-main-3;
               }
               .bi::before{
                    transition: $transition-main-3;
                    color: $color-blue-accent;
               }
               a {
                    color: $color-blue-accent;
                    font-family: $font-family-medium;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 1rem;
                    line-height: 1.125rem;
                    display: block;
                    font-weight: 500;
                    @include transition(all .3s ease);
                    &:hover {
                         @media #{$mouse-device} {
                              
                         }
                    }
               }
               a[aria-expanded="true"]{
                    .bi::before{
                         transform: rotate(180deg);
                    }
               }
          }
     }
     .bi-facebook{
          color: $color-blue-accent;
          font-size: 1.875rem;
     }
}
body{
     scrollbar-gutter: stable;
}
body:has(.overlay.show){
     overflow: hidden;
     scrollbar-gutter: stable;
}
.overlay {
     position: fixed;
     top: 0;
     left: 0;
     z-index: $layer-all-base;
     width: 100%;
     height:100%;
     @include transition(all 0.3s ease-in-out);
     background-color: $color-modal-back;
     opacity: 0;
     visibility: hidden;
     &.show {
          @media #{$ui-tablet} {
               opacity: 0.8;
               visibility: visible;
          }
     }
}