
@import "./veriables/__variables.scss";
@import "./functional/_mixins.scss";


.ui-content{
     nav{
          // max-width: 100px;
     }
     .content{
          // padding-left: 250px;
     }
     .content-container{
          margin-top: 0 !important;
     }
}

.advantages-card {
     border-radius: 1.25rem;
     width: 100%;
     height: 260px;
     display: flex;
     flex-direction: row;
     color: $color-white;
     overflow: hidden;
     cursor: pointer;
     background-repeat: no-repeat;
     &, & *{
          transition: all ease-in-out .4s;
     }
     @media #{$ui-mobile} {
          font-size: .875rem;
     }
     &.adv-card-1{
          padding: 1.875rem 0 0 1.875rem;
          background-color: $color-blue-accent;
          display: flex;
          flex-direction: row;
          width: 100%;
          background-image: url('./../img/svg/Persona-1.svg');
          background-position: 100% 100%;
          .advantages-card__text{
               max-width: 60%;
          }
          @media screen and (max-width: 590px) {
               background-position: 100% 210%;
          }
     }
     &.adv-card-1.reorder {
          flex-direction: row-reverse;
          background-position: -50% 230%;
          .advantages-card__text{
               max-width: 70%;
          }
          @media screen and (max-width: 1200px) {
               background-position: -80% 230%;
          }
          @media screen and (max-width: 992px) {
               background-position: -10% 170%;
          }
          @media screen and (max-width: 590px) {
               background-position: -10% 380%;
               .advantages-card__text{
                    max-width: 90%;
               }
          }
     }
     &.adv-card-2{
          padding: 2rem 2rem 0 2rem;
          background-color: $color-bg-gray;
          color: $color-black;
          flex-direction: column;
          background-image: url('./../img/svg/Persona-2.svg');
          background-position: 50% 100%;
          .advantages-card__text{
               width: 100%;
          }
          @media screen and (max-width: 992px) {
               background-position: 100% 100%;
          }
     }
     &.adv-card-2.reorder {
          background-position: 50% 150%;
          .advantages-card__text{
               max-width: 100%;
          }
          @media screen and (max-width: 992px) {
               background-position: 0% 140%;
          }
     }
     &.adv-card-3{
          padding: 2rem 2rem 0 2rem;
          background-color: $color-blue-accent;
          display: flex;
          flex-direction: row;
          width: 100%;
          background-image: url('./../img/svg/Persona-3.svg');
          background-position: 100% 100%;
          .advantages-card__text{
               max-width: 60%;
          }
          
     }
     &.adv-card-3.reorder {
          flex-direction: row-reverse;
          background-position: -340% 200%;
          .advantages-card__text{
               max-width: 70%;
          }
          @media screen and (max-width: 1200px) {
               background-position: -120% 350%;
               .advantages-card__text{
                    max-width: 100%;
               }
          }
          @media screen and (max-width: 992px) {
               background-position: 0% 210%;
          }
          @media screen and (max-width: 590px) {
               background-position: 30% 310%;
          }
     }
     &.adv-card-4{
          padding: 2rem 2rem 0 2rem;
          background-color: $color-blue-black;
          color: $color-white;
          display: flex;
          flex-direction: row;
          width: 100%;
          background-image: url('./../img/svg/Persona-4.svg');
          background-position: 100% 100%;
          .advantages-card__text{
               max-width: 60%;
          }
     }
     &.adv-card-4.reorder {
          flex-direction: row-reverse;
          background-position: -20% 320%;
          .advantages-card__text{
               max-width: 70%;
          }
          @media screen and (max-width: 992px) {
               background-position: 0% 320%;
          }
          @media screen and (max-width: 590px) {
               .advantages-card__text{
                    max-width: 80%;
               }
               background-position: -20% 360%;
          }
          @media screen and (max-width: 505px) {
               background-position: -30% 360%;
          }
          @media screen and (max-width: 460px) {
               background-position: -60% 360%;
          }
          @media screen and (max-width: 380px) {
               background-position: -100% 360%;
          }
     }
     &.adv-card-5{
          padding: 2rem 2rem 0 2rem;
          background-color: $color-background-sky-blue;
          color: $color-blue-accent;
          display: flex;
          flex-direction: row;
          width: 100%;
          background-image: url('./../img/svg/Persona-5.svg');
          background-position: 100% 100%;
          .advantages-card__text{
               max-width: 60%;
          }
          @media screen and (max-width: 1200px) {
               background-position: 100% 140%;
          }
          @media screen and (max-width: 590px) {
               .advantages-card__text{
                    max-width: 100%;
               }
          }
     }
     &.adv-card-5.reorder {
          flex-direction: row-reverse;
          background-position: -20% 320%;
          .advantages-card__text{
               max-width: 70%;
          }
          @media screen and (max-width: 1200px) {
               background-position: -20% 360%;
          }
          @media screen and (max-width: 992px) {
               background-position: 0% 250%;
          }
          @media screen and (max-width: 590px) {
               .advantages-card__text{
                    max-width: 100%;
               }
               background-position: 0% 340%;
          }
     }
}

.breadcrumbs{
     margin-bottom: 1.875rem;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     a{
          color: $color-blue-accent;
          font-size: 1rem;
          line-height: 1.1875rem;
          font-weight: 400;
          &:not(:last-child){
               &::after{
                    content: " /";
               }
          }
          &::after{
               margin-right: 4px;
          }
          &:last-child{
               color: $color-text-gray;
          }
     }
     .news-breadcrumbs{
          max-width: 290px;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
     }
}

.user-header{
     background-color: rgba(201, 235, 255, 0.6);
     border-bottom: 1px solid rgba(5, 86, 135, 0.2);
     padding: 1rem 0;
     color: $color-blue-accent;
     display: flex;
     @media #{$ui-tablet} {
          display: none;
     }
     span{
          cursor: pointer;
     }
}

.btn-approved{
     padding: 1rem 2rem;
     font-family: $font-family-regular;
     transition: $transition-main-3;
     cursor: pointer;
     text-align: center;
     @media #{$mouse-device} {
          &:not(.btn-approved-checked):hover{
               background-color: $color-blue-accent;
               color: $color-white-main;
          }
     }
}

.btn-approved.btn-approved-checked{
     background-color: $color-bg-gray;
     color: $color-blue-accent;
}

.btn-approved-checked::before{
     content: '\F272';
     font-family: "bootstrap-icons";
     display: inline-block;
     margin-right: 0.25rem;
     font-style: normal;
     text-transform: none;
     line-height: 1;
     vertical-align: -.125em;
     font-weight: 600;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

.btn-rating{
     background: $color-background-sky-blue;
     padding: .625rem 1rem;
     font-family: $font-family-bold;
     transition: $transition-main-3;
     color: $color-blue-accent;
     cursor: pointer;
     border-radius: 20px;
     @media #{$mouse-device} {
          &:not(.btn-rating-checked):hover{
               background-color: $color-background-blue-tr-2;
          }
     }
}

.btn-rating-checked{
     background-color: $color-background-blue-tr-2;
}

.btn-like, .btn-like-checked, .btn-dislike, .btn-dislike-checked{
     &::after{
          font-family: "bootstrap-icons";
          display: inline-block;
          margin-right: 0.25rem;
          font-style: normal;
          text-transform: none;
          line-height: 1;
          vertical-align: -.125em;
          font-weight: 700;
     }
}

.btn-like{
     &::after{
          content: '\F407';
     }
}

.btn-dislike{
     &::after{
          content: '\F405';
     }
}

.btn-like-checked{
     &::after{
          content: '\F406';
     }
}

.btn-dislike-checked{
     &::after{
          content: '\F404';
     }
}

.btn-tr{
     @include adaptiv-value("font-size", 18, 15, 1);
     @include adaptiv-value("line-height", 22, 18, 1);
     padding: 1rem 2.5rem;
     border-radius: 30px;
     border: 2px solid $color-blue-accent;
     color: $color-blue-accent;
     transition: $transition-main-3;
     font-weight: 600;
     font-family: $font-family-regular;
     background: transparent;
     @media #{$ui-tablet} {
          padding: .75rem 2.5rem;
     }
     @media #{$mouse-device} {
          &:hover{
               background-color: $color-blue-accent;
               color: $color-white-main;
          }
     }
}

.btn-close {
     opacity: 1;
     background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23055687'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.btn-close:focus{
     box-shadow: none;
}

.search-header.modal-header {
     align-items: center;
     justify-content: space-between;
     border-bottom: none;
     @media #{$ui-tablet} {
          align-items: start;
          .btn-close{
               margin-top: 1rem;
          }
     }
}

.modal-content {
     width: 100%;
     color: var(--bs-modal-color);
     background-color: $color-white-main;
     border: none;
     font-family: $font-family-regular;
}

.btn-adv-enter{
     :nth-child(1){
          font-size: 90px;
          line-height: 110px;
          color: $color-blue-accent;
     }
     color: $color-black;
     background-color: $color-background-gray-tr-4;
     transition: $transition-main-3;
     @media #{$mouse-device} {
          &:hover{
               background-color: $color-blue-accent;
               span{
                    color: $color-white-main;
               }
          }
     }
}

.explanation-item{
     transition: $transition-main-3;
     cursor: pointer;
     @media #{$mouse-device} {
          &:hover{
               background-color: $color-blue-accent-tr-2;
          }
     }
}

.text-clamp-6{
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 6;
     -webkit-box-orient: vertical;
     @media #{$ui-tablet} {
          -webkit-line-clamp: 4;
     }
}

.modal#enterForm, .modal#modalSuccess{
     .modal-header{
          border-bottom: none;
     }
     .modal-body{
          padding-bottom: 1.875rem;
          input:not([type='checkbox']){
               width: 100%;
               padding: .8125rem .625rem;
               color: $color-black;
               border: 1px solid #BABABA;
               border-radius: 5px;
               margin-top: .375rem;
          }
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
               -webkit-appearance: none;
          }
          input[type=number] {
               -moz-appearance: textfield;
          }

          ::placeholder{
               color: #BABABA;
          }
     }
}

.modal.modal-search{
     --bs-modal-width: 100%;
}